# Midnight Network Configuration (Preprod / Preview)
VITE_MIDNIGHT_NETWORK_ID=midnight-preprod
VITE_INDEXER_URI=https://indexer.preprod.midnight.network/api/v1/graphql
VITE_PROVER_SERVER_URI=https://prover.preprod.midnight.network
VITE_NODE_URI=https://rpc.preprod.midnight.network
VITE_CONTRACT_ADDRESS=0x74a6bf193c9d72518e3c6902fa874c93f98f417e29a39d89c02b1f48039d91cb6
VITE_APP_MODE=demo-fallback
