# Midnight Network Configuration (Preprod / Preview)
VITE_MIDNIGHT_NETWORK_ID=midnight-preprod
VITE_NETWORK_ID=preprod
VITE_INDEXER_URI=https://indexer.preprod.midnight.network/api/v1/graphql
VITE_PROVER_SERVER_URI=https://prover.preprod.midnight.network
VITE_NODE_URI=https://rpc.preprod.midnight.network
VITE_CONTRACT_ADDRESS=5a9cd8179b54c81863309dcfacd83f8207f0fc35a1ab79cc4ff524b334c8ae1e
VITE_CONTRACT_ADDRESS_PREPROD=5a9cd8179b54c81863309dcfacd83f8207f0fc35a1ab79cc4ff524b334c8ae1e
VITE_EXPLORER_URI=https://preprod.midnightexplorer.com
VITE_APP_MODE=live

