PORT=5000
MIDNIGHT_NETWORK_ID=midnight-preprod
MIDNIGHT_INDEXER_URI=https://indexer.preprod.midnight.network/api/v1/graphql
MIDNIGHT_NODE_URI=https://rpc.preprod.midnight.network
MIDNIGHT_PROVER_URI=https://prover.preprod.midnight.network
MIDNIGHT_CONTRACT_ADDRESS=0x74a6bf193c9d72518e3c6902fa874c93f98f417e29a39d89c02b1f48039d91cb6
NODE_ENV=development
